/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

.section-title {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.875;
  z-index: 97;
  margin: 0;
}

.section-subtitle {
  font-size: 16px;
  font-family: "PT Serif", serif;
  color: #777777;
  font-style: italic;
  line-height: 1.2;
  z-index: 96;
  margin: 0 0 80px 0;
}

section {
  padding: 120px 0;
}

/* Home-Section */
.home {
  height: 100vh;
  position: relative;
  background-image: url(https://i.postimg.cc/FHBHFsbt/Background-Image.png);
  background-position: center center;
  background-size: cover;
  max-height: 680px;
}

.home span {
  font-size: 26px;
  font-family: "Marck Script", cursive;
  color: #fed136;
  line-height: 1.577;
  text-align: left;
  left: 235.937px;
  top: 37.499px;
  z-index: 119;
}

.home h1 {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  z-index: 107;
}

.home h2 {
  font-size: 40px;
  font-family: "PT Serif", serif;
  color: #fff;
  font-style: italic;
  line-height: 1.2;
  z-index: 108;
}

.home .btn {
  border-radius: 3px;
  background-color: #fed136;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 18px;
  z-index: 104;
  padding: 26px 52px;
}

.home nav {
  text-align: right;
}

.home nav li a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 0 35px 0 0;
}

.splash {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .row {
  padding-top: 50px;
}

/* Section-services */
.services h5 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
}

.services p {
  font-family: "PT Serif", serif;
  color: #777777;
  font-size: 14px;
}

.services i {
  font-size: 35px;
  background: inherit;
  width: 72px;
  height: 72px;
  line-height: 60px;
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
}

/* Section-portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio h5 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
  margin: 0;
}

.portfolio h6 {
  font-family: "PT Serif", serif;
  color: #777777;
  font-size: 14px;
  margin: 0;
}

.card-body {
  padding: 30px 0;
  margin-bottom: 50px;
  background-color: #fff;
}

/* Footer */
footer {
  padding: 40px 0;
}

footer span {
  font-family: "PT Serif", serif;
  color: #777777;
  font-size: 14px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer a {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #fff;
  background-color: #222222;
}

footer .row {
  position: relative;
}

footer .social {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

/* Media */
@media (max-width: 992px) {
  .home nav li a {
    padding: 0 5px 0 5px;
  }
  .home nav {
    text-align: center;
  }
  .home h1 {
    font-size: 45px;
    padding-bottom: 30px;
  }
  .home h2 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBV0EsV0FBQTtBQUNBO0VBQ0ksc0JBQXNCO0FDVDFCOztBRFlBO0VBQ0ksU0FBUztFQUNULGtCQUFrQjtBQ1R0Qjs7QURZQTtFQUNJLHFCQUFxQjtBQ1R6Qjs7QURZQTtFQUNJLGdCQUFnQjtBQ1RwQjs7QURZQTtFQUNJLHFCQUFxQjtBQ1R6Qjs7QURZQTtFQUNJLGVBQWU7RUFDZixxQ0EzQmdDO0VBNEJoQyxjQW5Db0I7RUFvQ3BCLGlCQUFpQjtFQUNqQix5QkFBeUI7RUFDekIsa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxTQUFTO0FDVGI7O0FEWUU7RUFDRSxlQUFlO0VBQ2YsOEJBckN5QjtFQXNDekIsY0E3Q2dCO0VBOENoQixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLFdBQVc7RUFDWCxrQkFBa0I7QUNUdEI7O0FEWUU7RUFDSSxnQkFBZ0I7QUNUdEI7O0FEWUUsaUJBQUE7QUFFQTtFQUNFLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIseUVBQXlFO0VBQ3pFLGtDQUFrQztFQUNsQyxzQkFBc0I7RUFDdEIsaUJBQWlCO0FDVnJCOztBRGNFO0VBQ0UsZUFBZTtFQUNmLG9DQWpFK0I7RUFrRS9CLGNBckVrQjtFQXNFbEIsa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2YsYUFBYTtFQUNiLFlBQVk7QUNYaEI7O0FEY0U7RUFDTSxlQUFlO0VBQ2YscUNBM0U0QjtFQTRFNUIsV0FqRm1CO0VBa0ZuQixpQkFBaUI7RUFDakIseUJBQXlCO0VBQ3pCLGdCQUFnQjtFQUNoQixZQUFZO0FDWHBCOztBRGNFO0VBQ0UsZUFBZTtFQUNmLDhCQXBGeUI7RUFxRnpCLFdBM0Z1QjtFQTRGdkIsa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQixZQUFZO0FDWGhCOztBRGNFO0VBQ0Usa0JBQWtCO0VBQ2xCLHlCQWxHa0I7RUFtR2xCLHFDQS9GZ0M7RUFnR2hDLFdBckd1QjtFQXNHdkIsZUFBZTtFQUNmLFlBQVk7RUFDWixrQkFBa0I7QUNYdEI7O0FEYUU7RUFDSSxpQkFBaUI7QUNWdkI7O0FEYUU7RUFDSSxxQ0ExRzhCO0VBMkc5QixlQUFlO0VBQ2YsV0FqSHFCO0VBa0hyQixrQkFBa0I7RUFDbEIsbUJBQW1CO0FDVnpCOztBRGFFO0VBQ0Usa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxRQUFRO0VBQ1IsU0FBUztFQUNULGdDQUErQjtBQ1ZuQzs7QURhRTtFQUNJLGlCQUFpQjtBQ1Z2Qjs7QURZQyxxQkFBQTtBQUVBO0VBQ0cscUNBL0hnQztFQWdJaEMsY0F2SW9CO0VBd0lwQixlQUFlO0FDVm5COztBRGFDO0VBQ0csOEJBcEl5QjtFQXFJekIsY0E1SWdCO0VBNkloQixlQUFlO0FDVm5COztBRGFDO0VBQ0csZUFBZTtFQUNmLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixjQXBKa0I7RUFxSmxCLHlCQXJKa0I7RUFzSmxCLGtCQUFrQjtBQ1Z0Qjs7QURhQyxzQkFBQTtBQUVBO0VBQ0kseUJBM0pxQjtBQ2dKMUI7O0FEY0M7RUFDRyxXQUFXO0VBQ1gsWUFBWTtFQUNaLG9CQUFpQjtLQUFqQixpQkFBaUI7QUNYckI7O0FEY0E7RUFDSSxxQ0FsS2dDO0VBbUtoQyxjQTFLb0I7RUEyS3BCLGVBQWU7RUFDZixTQUFTO0FDWGI7O0FEY0M7RUFDRyw4QkF4S3lCO0VBeUt6QixjQWhMZ0I7RUFpTGhCLGVBQWU7RUFDZixTQUFTO0FDWGI7O0FEY0M7RUFDSSxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLHNCQXZMc0I7QUM0SzNCOztBRGNDLFdBQUE7QUFDRDtFQUNJLGVBQWU7QUNYbkI7O0FEYUM7RUFDRyw4QkF6THlCO0VBMEx6QixjQWpNZ0I7RUFrTWhCLGVBQWU7QUNWbkI7O0FEYUE7RUFDSSxhQUFhO0VBQ2IsdUJBQXVCO0FDVjNCOztBRGFBO0VBQ0ksZUFBYztFQUNkLFdBQVU7RUFDVixZQUFXO0VBQ1gsaUJBQWdCO0VBQ2hCLHFCQUFvQjtFQUNwQixrQkFBaUI7RUFDakIsa0JBQWlCO0VBQ2pCLGFBQVk7RUFDWixXQWxOdUI7RUFtTnZCLHlCQXJOb0I7QUMyTXhCOztBRGFBO0VBQ0ksa0JBQWtCO0FDVnRCOztBRFlBO0VBQ0ksa0JBQWtCO0VBQ2xCLFVBQVU7RUFDViwwQkFBMEI7QUNUOUI7O0FEWUEsVUFBQTtBQUVBO0VBRUk7SUFDSSxvQkFBb0I7RUNYMUI7RURjRTtJQUNJLGtCQUFrQjtFQ1p4QjtFRGVFO0lBQ0ksZUFBZTtJQUNmLG9CQUFvQjtFQ2IxQjtFRGdCRTtJQUNJLGVBQWU7RUNkckI7QUFDRiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */