/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

.section-title {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.875;
  z-index: 97;
  margin: 0;
}

.section-subtitle {
  font-size: 16px;
  font-family: "PT Serif", serif;
  color: #777777;
  font-style: italic;
  line-height: 1.2;
  z-index: 96;
  margin: 0 0 80px 0;
}

section {
  padding: 120px 0;
}

/* Home-Section */
.home {
  background-color: transparent;
  height: 100vh;
  position: relative;
  background-image: url(https://i.postimg.cc/FHBHFsbt/Background-Image.png);
  background-position: center center;
  background-size: cover;
  max-height: 680px;
}

.home span {
  font-size: 26px;
  font-family: "Marck Script", cursive;
  color: #fed136;
  line-height: 1.577;
  text-align: left;
  left: 235.937px;
  top: 37.499px;
  z-index: 119;
}

.home h1 {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  z-index: 107;
}

.home h2 {
  font-size: 40px;
  font-family: "PT Serif", serif;
  color: #fff;
  font-style: italic;
  line-height: 1.2;
  z-index: 108;
}

.home .btn {
  border-radius: 3px;
  background-color: #fed136;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 18px;
  z-index: 104;
  padding: 26px 52px;
}

.home nav {
  text-align: right;
}

.home nav li {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-left: 35px;
}

/* Section-services */
.services h5 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
}

.services p {
  font-family: "PT Serif", serif;
  color: #777777;
  font-size: 14px;
}

.services i {
  font-size: 35px;
  background: inherit;
  width: 72px;
  height: 72px;
  line-height: 60px;
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
}

/* Section-portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio h5 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
  margin: 0;
}

.portfolio h6 {
  font-family: "PT Serif", serif;
  color: #777777;
  font-size: 14px;
  margin: 0;
}

.card-body {
  padding: 30px 0;
  margin-bottom: 50px;
  background-color: #fff;
}

/* Footer */
footer span {
  font-family: "PT Serif", serif;
  color: #777777;
  font-size: 14px;
}

footer i {
  font-size: 20px;
  background: #222222;
  height: 40px;
  width: 40px;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
}

footer ul {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBV0EsV0FBQTtBQUNBO0VBQ0ksc0JBQXNCO0FDVDFCOztBRFlBO0VBQ0ksU0FBUztFQUNULGtCQUFrQjtBQ1R0Qjs7QURZQTtFQUNJLHFCQUFxQjtBQ1R6Qjs7QURZQTtFQUNJLGdCQUFnQjtBQ1RwQjs7QURZQTtFQUNJLHFCQUFxQjtBQ1R6Qjs7QURZQTtFQUNJLGVBQWU7RUFDZixxQ0EzQmdDO0VBNEJoQyxjQW5Db0I7RUFvQ3BCLGlCQUFpQjtFQUNqQix5QkFBeUI7RUFDekIsa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxTQUFTO0FDVGI7O0FEWUU7RUFDRSxlQUFlO0VBQ2YsOEJBckN5QjtFQXNDekIsY0E3Q2dCO0VBOENoQixrQkFBa0I7RUFDbEIsZ0JBQWdCO0VBQ2hCLFdBQVc7RUFDWCxrQkFBa0I7QUNUdEI7O0FEWUU7RUFDSSxnQkFBZ0I7QUNUdEI7O0FEWUUsaUJBQUE7QUFFQTtFQUNFLDZCQUE2QjtFQUM3QixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLHlFQUF5RTtFQUN6RSxrQ0FBa0M7RUFDbEMsc0JBQXNCO0VBQ3RCLGlCQUFpQjtBQ1ZyQjs7QURhRTtFQUNFLGVBQWU7RUFDZixvQ0FqRStCO0VBa0UvQixjQXJFa0I7RUFzRWxCLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLGFBQWE7RUFDYixZQUFZO0FDVmhCOztBRGFFO0VBQ00sZUFBZTtFQUNmLHFDQTNFNEI7RUE0RTVCLFdBakZtQjtFQWtGbkIsaUJBQWlCO0VBQ2pCLHlCQUF5QjtFQUN6QixnQkFBZ0I7RUFDaEIsWUFBWTtBQ1ZwQjs7QURhRTtFQUNFLGVBQWU7RUFDZiw4QkFwRnlCO0VBcUZ6QixXQTNGdUI7RUE0RnZCLGtCQUFrQjtFQUNsQixnQkFBZ0I7RUFDaEIsWUFBWTtBQ1ZoQjs7QURhRTtFQUNFLGtCQUFrQjtFQUNsQix5QkFsR2tCO0VBbUdsQixxQ0EvRmdDO0VBZ0doQyxXQXJHdUI7RUFzR3ZCLGVBQWU7RUFDZixZQUFZO0VBQ1osa0JBQWtCO0FDVnRCOztBRFlFO0VBQ0ksaUJBQWlCO0FDVHZCOztBRFlFO0VBQ0kscUNBMUc4QjtFQTJHOUIsZUFBZTtFQUNmLFdBakhxQjtFQWtIckIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtBQ1R2Qjs7QURZQyxxQkFBQTtBQUVBO0VBQ0cscUNBcEhnQztFQXFIaEMsY0E1SG9CO0VBNkhwQixlQUFlO0FDVm5COztBRGFDO0VBQ0csOEJBekh5QjtFQTBIekIsY0FqSWdCO0VBa0loQixlQUFlO0FDVm5COztBRGFDO0VBQ0csZUFBZTtFQUNmLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixjQXpJa0I7RUEwSWxCLHlCQTFJa0I7RUEySWxCLGtCQUFrQjtBQ1Z0Qjs7QURhQyxzQkFBQTtBQUVBO0VBQ0kseUJBaEpxQjtBQ3FJMUI7O0FEY0M7RUFDRyxXQUFXO0VBQ1gsWUFBWTtFQUNaLG9CQUFpQjtLQUFqQixpQkFBaUI7QUNYckI7O0FEY0E7RUFDSSxxQ0F2SmdDO0VBd0poQyxjQS9Kb0I7RUFnS3BCLGVBQWU7RUFDZixTQUFTO0FDWGI7O0FEY0M7RUFDRyw4QkE3SnlCO0VBOEp6QixjQXJLZ0I7RUFzS2hCLGVBQWU7RUFDZixTQUFTO0FDWGI7O0FEY0M7RUFDSSxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLHNCQTVLc0I7QUNpSzNCOztBRGNDLFdBQUE7QUFFQTtFQUNHLDhCQTVLeUI7RUE2S3pCLGNBcExnQjtFQXFMaEIsZUFBZTtBQ1puQjs7QURlQztFQUNHLGVBQWU7RUFDZixtQkEzTG9CO0VBNExwQixZQUFZO0VBQ1osV0FBVztFQUNYLFdBNUx1QjtFQTZMdkIsa0JBQWtCO0VBQ2xCLGFBQWE7QUNaakI7O0FEZUE7RUFDSSxhQUFhO0VBQ2IsdUJBQXVCO0FDWjNCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */