/* Variables */
$color-headFont: #222222;
$color-text: #777777;
$color-backgroundText: #fff;
$color-button: #fed136;
$color-background: #f7f7f7;

/* Global */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

.section-title {
    font-size: 40px;
    font-family: "Montserrat";
    color: $color-headFont;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    text-align: center;
    left: 602.404px;
    top: 797.5px;
    z-index: 97;
  }
  
  .section-subtitle {
    font-size: 16px;
    font-family: "DroidSerif";
    color: $color-text;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    left: 547.937px;
    top: 865.946px;
    z-index: 96;
  }
  