/* Variables */
$color-headFont: #222222;
$color-text: #777777;
$color-backgroundText: #fff;
$color-button: #fed136;
$color-background: #f7f7f7;

$font-logo: 'Marck Script', cursive;
$font-head: 'Montserrat', sans-serif;
$font-text: 'PT Serif', serif;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

.section-title {
    font-size: 40px;
    font-family: $font-head;
    color: $color-headFont;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    z-index: 97;
    margin: 0;
  }
  
  .section-subtitle {
    font-size: 16px;
    font-family: $font-text;
    color: $color-text;
    font-style: italic;
    line-height: 1.2;
    z-index: 96;
    margin: 0 0 80px 0;
  }

  section {
      padding: 120px 0; 
  }

  /* Home-Section */
  
  .home {
    background-color: #222222;
    max-height: 680px;
  }

  .home span {
    font-size: 26px;
    font-family: $font-logo;
    color: $color-button;
    line-height: 1.577;
    text-align: left;
    left: 235.937px;
    top: 37.499px;
    z-index: 119;   
  }

  .home h1 {
        font-size: 75px;
        font-family: $font-head;
        color: $color-backgroundText;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        z-index: 107;  
  }

  .home h2 {
    font-size: 40px;
    font-family: $font-text;
    color: $color-backgroundText;
    font-style: italic;
    line-height: 1.2;
    z-index: 108;
  }

  .home .btn {
    border-radius: 3px;
    background-color: $color-button;
    font-family: $font-head;
    color: $color-backgroundText;
    font-size: 18px;
    z-index: 104;
    padding: 26px 52px;
  }
  .home nav {
      text-align: right;
  }
  
  .home nav li {
      font-family: $font-head;
      font-size: 14px;
      color: $color-backgroundText;
      text-align: center;
      margin-left: 35px;
  }

 /* Section-services */
 
 .services h5 {
    font-family: $font-head;
    color: $color-headFont;
    font-size: 18px;
 }

 .services p {
    font-family: $font-text;
    color: $color-text;
    font-size: 14px;
 }

 .services i {
    font-size: 35px;
    background: inherit;
    width: 72px;
    height: 72px;
    line-height: 60px;
    color: $color-button;
    border: 3px solid $color-button;
    border-radius: 50%;
 }

 /* Section-portfolio */

 .portfolio {
     background-color: $color-background;
 }

 .portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio h5 {
    font-family: $font-head;
    color: $color-headFont;
    font-size: 18px;
    margin: 0;
 }

 .portfolio h6 {
    font-family: $font-text;
    color: $color-text;
    font-size: 14px;
    margin: 0;
 }

 .card-body{
     padding: 30px 0;
     margin-bottom: 50px;
     background-color: $color-backgroundText;
 }

 /* Footer */

 footer span {
    font-family: $font-text;
    color: $color-text;
    font-size: 14px;
 }

 footer i { 
    font-size: 20px;
    background: $color-headFont;
    height: 40px;
    width: 40px;
    color: $color-backgroundText; 
    border-radius: 50%;
    margin: 0 5px;
}

footer ul {
    display: flex;
    justify-content: center;
}

